.Contact-container_2{
    position: relative;
    width: 100%;
    height: 450px; /* Adjust as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.hero-img_Contact{
    width: 100%;
    height: 100%;
    object-fit:cover;
    top: 0;
    left: 0;
    z-index: 1; /* Ensure image is below content */
  }