.Blog4-blog-detail {
  position: relative;
  top: 5vw;
    text-align: center;
    max-width: 100%;
    margin: 2.8vw auto;
    padding: 5vw  7vw;
    background: #fff;
  }
  
  
  .blog4-image {
   max-width: 88vw;
    max-height: 35vw;
    border-radius: 8px;
    margin-bottom: 15px;
  }

  .Blog4-blog-detail h1{
    padding: 2vw 0;
  }
  
  .Blog4-blog-Content{
    text-align: left;
    font-size: 16px;
    line-height: 2;
    color: #444;
  }
  
  /* Agar aap specific headings ya lists ko style karna chahte ho */
  .blog-content h2 {
    font-size: 22px;
    text-align: left;
    color: #222;
    margin-bottom: 10px;
  }
  
  .blog-content ul {
    padding-left: 20px;
  }
  
  .blog-content ul li {
    margin-bottom: 8px;
    font-size: 16px;
  }
  